In [1]:
#Download libraries
import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Download the data
df = pd.read_csv('../data/train_data.zip')
df.head()

,external_id,month,year,monthly_number_of_sessions,monthly_unique_sessions,monthly_repeated_sessions,monthly_avg_length_of_session,monthly_avg_light_activity,monthly_avg_moderate_activity,monthly_avg_vigorous_activity,...,avg_wind_9_10,avg_wind_10_11,avg_wind_11_12,avg_wind_12_above,perfect_days,unacast_session_count,hpi,state_and_local_amount_per_capita,state_amount_per_capita,local_amount_per_capita
0,1807558,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,37.0,418.67,0.116368,0.025516,0.090852
1,1806729,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,63.0,710.00,0.175774,0.020170,0.155604
2,MR00096403,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,15.0,241.24,0.112038,0.006893,0.105145
3,1806350,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,45.0,468.51,0.120088,0.003619,0.116469
4,FM00169477,9,2018,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,83.0,326.05,0.132935,0.025298,0.107637

In [4]:
df['days_since_first_sess']

0        391.0
1          NaN
2        601.0
3          NaN
4          NaN
         ...
50115    425.0
50116    363.0
50117      NaN
50118    669.0
50119      NaN
Name: days_since_first_sess, Length: 50120, dtype: float64

In [13]:
df[df['external_id'] == '1807558'][['month', 'year', 'days_since_first_sess', 'unacast_session_count', 'monthly_number_of_sessions']]

,month,year,days_since_first_sess,unacast_session_count,monthly_number_of_sessions
0,9,2018,391.0,37.0,0
25,8,2019,391.0,25.0,0
64,1,2019,391.0,33.0,11
4865,6,2019,391.0,13.0,0
4887,2,2018,391.0,5.0,0
4920,2,2019,391.0,32.0,0
5016,12,2018,391.0,15.0,0
5023,7,2018,391.0,73.0,0
9835,5,2019,391.0,28.0,0
9850,3,2018,391.0,25.0,0
14859,6,2018,391.0,89.0,0
14986,8,2018,391.0,84.0,0
15005,4,2019,391.0,16.0,0
19941,11,2018,391.0,28.0,0
29867,3,2019,391.0,13.0,0
34753,10,2018,391.0,23.0,0
34886,4,2018,391.0,66.0,0
34926,9,2019,391.0,43.0,0
40034,7,2019,391.0,10.0,0
50022,5,2018,391.0,97.0,0

In [16]:
df[df['days_since_first_sess'].isnull()][['month', 'year', 'days_since_first_sess', 'unacast_session_count', 'monthly_number_of_sessions']]

,month,year,days_since_first_sess,unacast_session_count,monthly_number_of_sessions
1,9,2018,NaN,63.0,0
3,9,2018,NaN,45.0,0
4,9,2018,NaN,83.0,0
5,9,2018,NaN,2.0,0
8,12,2018,NaN,139.0,0
...,...,...,...,...,...
50108,5,2019,NaN,191.0,0
50111,10,2018,NaN,184.0,0
50112,10,2018,NaN,18.0,0
50117,2,2018,NaN,12.0,0
50119,2,2018,NaN,23.0,0

In [21]:
df[df['days_since_first_sess'].isnull()]['monthly_number_of_sessions'].value_counts()

0    17800
Name: monthly_number_of_sessions, dtype: int64

In [22]:
df[df['days_since_first_sess'].isnull()]['external_id'].value_counts()

MR00102840    20
MR00097367    20
FM00159078    20
1807366       20
MR00108053    20
              ..
MR00110425    20
1803630       20
FM00162884    20
1807637       20
1806560       20
Name: external_id, Length: 890, dtype: int64

In [23]:
from preprocessing import preprocessing_na, clean_categorical

ModuleNotFoundError: No module named 'preprocessing'